body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    background-color: #e5e5e5;
    position: relative;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

.app {
    display: flex;
    min-height: 100vh;
}

.main {
    width: 100%;
    flex-grow: 1;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.alertStyles {
    position: fixed;
    bottom: 0;
    left: 0;
}
